<p>add-event works!</p>
<div class="container">
  <h1>Add New Event</h1>
  <form>
    <div class="form-group">
      <label for="EID">Event ID</label>
      <input id="EID" formControlName="EID" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="OID">Organizer ID</label>
      <input id="OID" formControlName="OID" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="Name">Event Name</label>
      <input id="Name" formControlName="Name" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="EventCategory">Event Category</label>
      <input id="EventCategory" formControlName="EventCategory" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="EventDesc">Event Description</label>
      <textarea id="EventDesc" formControlName="EventDesc" class="form-control" required></textarea>
    </div>
    <div class="form-group">
      <label for="Location">Location</label>
      <input id="Location" formControlName="Location" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="EventDate">Event Date</label>
      <input type="date" id="EventDate" formControlName="EventDate" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="EventTimeStart">Event Start Time</label>
      <input type="time" id="EventTimeStart" formControlName="EventTimeStart" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="EventTimeEnd">Event End Time</label>
      <input type="time" id="EventTimeEnd" formControlName="EventTimeEnd" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="TicketsAvb">Tickets Available</label>
      <input type="number" id="TicketsAvb" formControlName="TicketsAvb" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="Price">Price</label>
      <input type="number" id="Price" formControlName="Price" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-success">Add Event</button>
  </form>
</div>


