<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SaaS-y Events</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <span class="pi pi-user nav-link" (click)="toggleUserOptions()" style="cursor: pointer;"></span>
        </li>
      </ul>
    </div>
  </div>

  <!-- Dropdown for login and signup -->
  <div *ngIf="showUserOptions" class="dropdown-menu dropdown-menu-end">
    <a class="dropdown-item" routerLink="/login">Login</a>
    <a class="dropdown-item" routerLink="/signup">Sign Up</a>
  </div>
</nav>
