<div class="flex justify-content-center align-items-center min-h-screen">
<p-card>
  <p-tabView>
    <p-tabPanel header="User Login" (select)="onRoleChange('user')">
      <p class="m-0" [style]="{width: '400px'}">
        <form (ngSubmit)="onLogin()" #loginForm="ngForm">
        <div class="form-group">
          <label for="user email">Email</label>
          <input type="email" id="user email" name="email" ngModel required class="form-control" />
         </div>
        <div class="form-group">
          <label for="user password">Password</label>
          <input type="password" id="user password" name="password" ngModel required class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary mt-2" [disabled]="!loginForm.valid">Login</button>
      <div class="mt-4 text-center">
        <p>Don't have an account? <a href="/signup" class="text-blue-600">Sign up</a></p>
      </div>
        </form>
    </p-tabPanel>
    <p-tabPanel header="Organiser Login" (select)="onRoleChange('organizer')">
      <p class="m-0" [style]="{width: '400px'}">
      <form (ngSubmit)="onLogin()" #loginForm="ngForm">
        <div class="form-group">
          <label for="organiser email">Email</label>
          <input type="email" id="organiser email" name="email" ngModel required class="form-control" />
        </div>
        <div class="form-group">
          <label for="organiser password">Password</label>
          <input type="password" id="organiser password" name="password" ngModel required class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary mt-2" [disabled]="!loginForm.valid">Login</button>
      <div class="mt-4 text-center">
        <p>Don't have an account? <a href="/signup" class="text-blue-600">Sign up</a></p>
      </div>
      </form>
    </p-tabPanel>
  </p-tabView>
</p-card>
</div>

