<div class="container">
  <h2>Organiser Dashboard</h2>
  <ng-container *ngIf="eventList && eventList.length > 0; else noEvents">
    <ul class="list-group">
      <li
        *ngFor="let event of eventList"
        class="list-group-item"
      >
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ event.Name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Category: {{ event.EventCategory }}</h6>
            <p class="card-text">{{ event.EventDesc }}</p>
            <p class="card-text"><strong>Location:</strong> {{ event.Location }}</p>
            <p class="card-text">
              <strong>Date:</strong> {{ event.EventDate }}
              <strong>Time:</strong> {{ event.EventTimeStart | timeFormat }} - {{ event.EventTimeEnd | timeFormat }}
            </p>
            <p class="card-text"><strong>Spots Remaining:</strong> {{ event.GuestsRem }}</p>
            <p class="card-text"><strong>Maximum Guests Per Ticket:</strong> {{ event.MaxGuestsPerTicket }}</p>
            <p class="card-text"><strong>Price:</strong> ${{ event.Price }}</p>
            <!-- Edit Event Button -->
            <button
              class="btn btn-primary mt-2"
              (click)="viewEventAttendees(event.EID)"
            >
              View Attendees
            </button>
            <!-- Edit Event Button -->
            <button
              style="margin-left:10px;"
              class="btn btn-primary mt-2"
              (click)="editEvent(event.EID)"
            >
              Edit Event
            </button>
          </div>
        </div>
      </li>
    </ul>
  </ng-container>
  <ng-template #noEvents>
    <p class="alert alert-info">You haven't created any events yet. Start organizing your first event!</p>
  </ng-template>
</div>
